<div class="row">
    <div class="col-lg-4 offset-lg-4 d-flex justify-content-center"><img src="images/logo/logo.jpg" alt="logo" width="200" height="50"></div>
</div>
<div class="row">
    <div class="col-12 text-center">
        <h2 class="title f-46">Общество с ограниченной ответственностью «Вольф Технолоджи»</h2>
        <p class="f-28">В октябре 2018 года в Новосибирске совместно с немецкой фирмой
            WOLF Werkzeugtechnologie GmbH зарегистрирована компания ООО «Вольф Технолоджи». WOLF Werkzeugtechnologie GmbH с 1985 года производит твердосплавный инструмент. Компания имеет уникальный опыт по проектированию и производству твердосплавного инструмента, отвечающего самым высоким требованиям заказчиков в России, Европе, Индии, США,
            Китае из авиационной, космической, автомобильной, медицинской и др. областей промышленности.</p>
        <p class="f-28">С апреля 2019 года завод ООО «Вольф Технолоджи» в г.Новосибирске
            начало производить серийные партии цельных концевых фрез. За это время с применением нашего инструмента произвели части боевых самолетов СУ-34</p>
        <p class="f-28">
            Мы приглашаем Вас к взаимовыгодному сотрудничеству.
        </p>
    </div>

<div class="row">
    <div class="col-12 text-center"><h2 class="title f-46 text-center">ЧТО ТАКОЕ WOLF TECHNOLOGY</h2></div>

    <div class="col-8 offset-2 text-center about-block d-flex flex-column align-items-center mt-3">
        <div class="divider d-flex justify-content-center"></div>
        <div class="subtitle f-32 mt-3">КАЧЕСТВО</div>
        <div class="description mt-3 f-28">- это проектирование и производство цельного твердосплавного
            инструмента как стандартных размеров, так и по чертежам заказчиков</div>
    </div>

    <div class="col-8 offset-2 text-center about-block d-flex flex-column align-items-center mt-3">
        <div class="divider d-flex justify-content-center"></div>
        <div class="subtitle f-32 mt-3">ПРОИЗВОДСТВО</div>
        <div class="description mt-3 f-28">- это производство инструмента, который спроектирован с учетом
            условий обработки и обрабатываемых материалов</div>
    </div>

    <div class="col-8 offset-2 text-center about-block d-flex flex-column align-items-center mt-3">
        <div class="divider d-flex justify-content-center"></div>
        <div class="subtitle f-32 mt-3">ПОДДЕРЖКА</div>
        <div class="description mt-3 f-28">- это техническая поддержка заказчиков специалистами, прошедшими
            обучение на заводе WOLF в Германии</div>
    </div>

    <div class="col-8 offset-2 text-center about-block d-flex flex-column align-items-center mt-3">
        <div class="divider d-flex justify-content-center"></div>
        <div class="subtitle f-32 mt-3">СЕРВИС</div>
        <div class="description mt-3 f-28">- это сервис по восстановлению инструмента</div>
    </div>

    <div class="col-8 offset-2 text-center about-block d-flex flex-column align-items-center mt-3">
        <div class="divider d-flex justify-content-center"></div>
        <div class="subtitle f-32 mt-3">УДОБСТВО</div>
        <div class="description mt-3 f-28">- это поставка инструмента в кратчайшие сроки. Мы поддерживаем в
            наличии на складе фрезы от 2 до 20 мм диаметра, что бы заказчики могли
            сократить свои затраты на запасы.</div>
    </div>
</div>
</div>