<div class="footer pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="row justify-content-center"><div class="divider"></div></div>
                <p class="text-center f-32 m-0">Меню</p>
                <ul class="p-0">
                    <li class="nav-link main-link"><a href="/#main">Главная</a></li>
                    <li class="nav-link about-link"><a href="/#about">О нас</a></li>
                    <li class="nav-link production-link"><a href="/#production">Наша продукция</a></li>
                    <li class="nav-link"><a href="/calculator">Калькулятор</a></li>
                    <li class="nav-link history-link"><a href="/#history">Наша история</a></li>
                    <li class="nav-link contacts-link"><a href="/#contacts">Контакты</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="row justify-content-center"><div class="divider"></div></div>
                <p class="text-center f-32 m-0">Контакты</p>
                <ul class="p-0">
                    <li class="nav-link"><a href="#tel">89139198434</a></li>
                    <li class="nav-link"><a href="#email">all@wolf-tools.ru.com</a></li>
                    <li class="nav-link"><span><img src="images/icons/gps.svg" alt="gps" class="pb-2"></span><a href="https://yandex.ru/maps/-/CCUq7FDSTD"> г.Новосибирск, ул.Восточная 4/1а</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="row justify-content-center"><div class="divider"></div></div>
                <p class="text-center f-32 m-0">Соц. сети</p>
                <ul class="p-0">
                    <li class="nav-link">instagram: <br><a href="#">_wolf_technology_</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>