<div class="row mb-5">
    <div class="col-lg-12 f-40 font-weight-bold text-center pt-5 pb-5">НАША ИСТОРИЯ</div>
    <ul class="nav nav-tabs d-flex justify-content-between w-100" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="h1985-tab" data-toggle="tab" href="#h1985" role="tab" aria-controls="h1985" aria-selected="true">1985</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="h1997-tab" data-toggle="tab" href="#h1997" role="tab" aria-controls="h1997" aria-selected="false">1997</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="h2000-tab" data-toggle="tab" href="#h2000" role="tab" aria-controls="h2000" aria-selected="false">2000</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="h2005-tab" data-toggle="tab" href="#h2005" role="tab" aria-controls="h2005" aria-selected="false">2005</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="h2006-tab" data-toggle="tab" href="#h2006" role="tab" aria-controls="h2006" aria-selected="false">2006</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="h2008-tab" data-toggle="tab" href="#h2008" role="tab" aria-controls="h2008" aria-selected="false">2008</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="h2013-tab" data-toggle="tab" href="#h2013" role="tab" aria-controls="h2013" aria-selected="false">2013</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="h2014-tab" data-toggle="tab" href="#h2014" role="tab" aria-controls="h2014" aria-selected="false">2014</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="h2018-tab" data-toggle="tab" href="#h2018" role="tab" aria-controls="h2018" aria-selected="false">2018</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="h2019-tab" data-toggle="tab" href="#h2019" role="tab" aria-controls="h2019" aria-selected="false">2019</a>
        </li>
    </ul>
    <div class="tab-content mt-5" id="myTabContent">
        <div class="tab-pane fade show active" id="h1985" role="tabpanel" aria-labelledby="h1985-tab">
            <div class="row">
                <div class="col-md-5 offset-md-1">
                    <img class="img-fluid" src="images/history1985.webp" alt="history">
                </div>
                <div class="col-md-5">
                    <p>С основанием прецизионного шлифования был взят первый этап сегодняшней группы компаний WOLF. В результате образовавшаяся компания WOLF Werkzeugtechnologie GmbH сегодня предлагает вам полный спектр услуг, ориентированный на клиента, от переточки до нового производства во всех вариантах. С переездом в новое здание в 2008 году технология инструментальной оснастки WOLF была перенесена на современные производственные мощности, предлагающие оптимальные конструкции для условий и процессов, что привело к сокращению сроков поставки для наших клиентов.</p>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="h1997" role="tabpanel" aria-labelledby="h1997-tab">
            <div class="row">
                <div class="col-md-5 offset-md-1">
                    <img class="img-fluid" src="images/history1997.webp" alt="history">
                </div>
                <div class="col-md-5">
                    <p>В 1997 году мы переехали в наш современный центр нанесения покрытий и расширили спектр услуг группы WOLF за счет важной ключевой технологии. Поскольку с тех пор мы можем предложить как проверенные стандартные покрытия, так и индивидуально разработанные специальные покрытия, мы предлагаем нашим клиентам значительное расширение ассортимента продукции. С новым зданием в 2008 году мы смогли более чем вдвое увеличить производственные площади и, таким образом, расширить производственные мощности, процессы и структуры до высочайшего технологического уровня.</p>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="h2000" role="tabpanel" aria-labelledby="h2000-tab">
            <div class="row">
                <div class="col-md-5 offset-md-1">
                    <img class="img-fluid" src="images/history2000.webp" alt="history">
                </div>
                <div class="col-md-5">
                    <p>Благодаря современному оборудованию, производство пресс-форм и инструментов WOLF также предлагает самые высокие стандарты в области изготовления пресс-форм и инструментов. Таким образом, клиенты WOLF Group могут рассчитывать на универсальный сервис, уникальный в мировом масштабе.</p>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="h2005" role="tabpanel" aria-labelledby="h2005-tab">
            <div class="row">
                <div class="col-md-5 offset-md-1">
                    <img class="img-fluid" src="images/history2005.webp" alt="history">
                </div>
                <div class="col-md-5">
                    <p>Еще одним шагом в истории WOLF стала покупка американской компании Performedge. Благодаря этому приобретению мы также смогли присутствовать в США и еще больше расширить наши деловые отношения. С тех пор Performedge была переименована в WOLF Tool Technology USA.</p>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="h2006" role="tabpanel" aria-labelledby="h2006-tab">
            <div class="row">
                <div class="col-md-5 offset-md-1">
                    <img class="img-fluid" src="images/history2006.webp" alt="history">
                </div>
                <div class="col-md-5">
                    <p>Основание WOLF Holding GmbH & amp; Co. KG в качестве основного названия, под которым зарегистрированы компании группы WOLF.</p>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="h2008" role="tabpanel" aria-labelledby="h2008-tab">
            <div class="row">
                <div class="col-md-5 offset-md-1">
                    <img class="img-fluid" src="images/history2008.webp" alt="history">
                </div>
                <div class="col-md-5">
                    <p>Благодаря расширению площади на 6500 м² и строительству нового производственного цеха инструментальной техники был реализован последний шаг. Производственные площади были увеличены на 2750 м², в них интегрировано самое современное оборудование и технологии снабжения. Так что начните с нами и воспользуйтесь нашими расширенными возможностями и техническим прогрессом для ваших процессов.</p>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="h2013" role="tabpanel" aria-labelledby="h2013-tab">
            <div class="row">
                <div class="col-md-5 offset-md-1">
                    <img class="img-fluid" src="images/history2013.webp" alt="history">
                </div>
                <div class="col-md-5">
                    <p>В 2013 году группа WOLF учредила еще одну компанию в Бангалоре, Индия.</p>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="h2014" role="tabpanel" aria-labelledby="h2014-tab">
            <div class="row">
                <div class="col-md-5 offset-md-1">
                    <img class="img-fluid" src="images/history2014.webp" alt="history">
                </div>
                <div class="col-md-5">
                    <p>В 2014 году группа WOLF учредила еще одну компанию в Тайцанге, Китай.</p>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="h2018" role="tabpanel" aria-labelledby="h2018-tab">
            <div class="row">
                <div class="col-md-5 offset-md-1">
                    <img class="img-fluid" src="images/history2018.webp" alt="history">
                </div>
                <div class="col-md-5">
                    <p>The Bochum location, еще один центр нанесения покрытий WOLF</p>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="h2019" role="tabpanel" aria-labelledby="h2019-tab">
            <div class="row">
                <div class="col-md-5 offset-md-1">
                    <img class="img-fluid" src="images/history2019.webp" alt="history">
                </div>
                <div class="col-md-5">
                    <p>В 2019 WOLF Tool Technology учредил еще одну компанию в Краснообске, Россия.</p>
                </div>
            </div>
        </div>
    </div>
</div>