<div class="row">
    <div class="col-lg-12 f-40 font-weight-bold text-center">НАША ИСТОРИЯ</div>
    <div class="col-lg d-flex flex-column align-items-center">
        <div class="date f-40 font-weight-bold ">20<span class="red">19</span></div>
        <img src="images/history2019.jpg" alt="history">
        <div class="description f-32 font-weight-bold text-center">В 2019 WOLF Tool Technology учредил еще одну компанию в Краснообске, Россия.</div>
    </div>
</div>