<div class="row">
    <div class="col-lg-12 f-40 font-weight-bold text-center pt-5 pb-5">НАША ИСТОРИЯ</div>
    <div class="col-lg-12 d-flex flex-column align-items-center pb-5">
        <div class="date f-40 font-weight-bold ">20<span class="red">19</span></div>
        <img src="images/history2019.webp" alt="history">
        <div class="description f-32 font-weight-bold text-center">В 2019 WOLF Tool Technology учредил еще одну компанию в Краснообске, Россия.</div>
    </div>

    <div class="col-lg-12 d-flex flex-column align-items-center pb-5">
        <div class="date f-40 font-weight-bold ">20<span class="red">18</span></div>
        <img src="images/history2018.webp" alt="history">
        <div class="description f-32 font-weight-bold text-center">The Bochum location, еще один центр нанесения покрытий WOLF</div>
    </div>

    <div class="col-lg-12 d-flex flex-column align-items-center pb-5">
        <div class="date f-40 font-weight-bold ">20<span class="red">14</span></div>
        <img src="images/history2014.webp" alt="history">
        <div class="description f-32 font-weight-bold text-center">В 2014 году группа WOLF учредила еще одну компанию в Тайцанге, Китай.</div>
    </div>

    <div class="col-lg-12 d-flex flex-column align-items-center pb-5">
        <div class="date f-40 font-weight-bold ">20<span class="red">13</span></div>
        <img src="images/history2013.webp" alt="history">
        <div class="description f-32 font-weight-bold text-center">В 2013 году группа WOLF учредила еще одну компанию в Бангалоре, Индия.</div>
    </div>

    <div class="col-lg-12 d-flex flex-column align-items-center pb-5">
        <div class="date f-40 font-weight-bold ">20<span class="red">08</span></div>
        <img src="images/history2008.webp" alt="history">
        <div class="description f-32 font-weight-bold text-center">Благодаря расширению площади на 6500 м² и строительству нового производственного цеха инструментальной техники был реализован последний шаг. Производственные площади были увеличены на 2750 м², в них интегрировано самое современное оборудование и технологии снабжения. Так что начните с нами и воспользуйтесь нашими расширенными возможностями и техническим прогрессом для ваших процессов.</div>
    </div>

    <div class="col-lg-12 d-flex flex-column align-items-center pb-5">
        <div class="date f-40 font-weight-bold ">20<span class="red">06</span></div>
        <img src="images/history2006.webp" alt="history">
        <div class="description f-32 font-weight-bold text-center">Основание WOLF Holding GmbH & amp; Co. KG в качестве основного названия, под которым зарегистрированы компании группы WOLF.</div>
    </div>

    <div class="col-lg-12 d-flex flex-column align-items-center pb-5">
        <div class="date f-40 font-weight-bold ">20<span class="red">05</span></div>
        <img src="images/history2005.webp" alt="history">
        <div class="description f-32 font-weight-bold text-center">Еще одним шагом в истории WOLF стала покупка американской компании Performedge. Благодаря этому приобретению мы также смогли присутствовать в США и еще больше расширить наши деловые отношения. С тех пор Performedge была переименована в WOLF Tool Technology USA.</div>
    </div>

    <div class="col-lg-12 d-flex flex-column align-items-center pb-5">
        <div class="date f-40 font-weight-bold ">20<span class="red">00</span></div>
        <img src="images/history2000.webp" alt="history">
        <div class="description f-32 font-weight-bold text-center">Благодаря современному оборудованию, производство пресс-форм и инструментов WOLF также предлагает самые высокие стандарты в области изготовления пресс-форм и инструментов. Таким образом, клиенты WOLF Group могут рассчитывать на универсальный сервис, уникальный в мировом масштабе.</div>
    </div>

    <div class="col-lg-12 d-flex flex-column align-items-center pb-5">
        <div class="date f-40 font-weight-bold ">19<span class="red">97</span></div>
        <img src="images/history1997.webp" alt="history">
        <div class="description f-32 font-weight-bold text-center">В 1997 году мы переехали в наш современный центр нанесения покрытий и расширили спектр услуг группы WOLF за счет важной ключевой технологии. Поскольку с тех пор мы можем предложить как проверенные стандартные покрытия, так и индивидуально разработанные специальные покрытия, мы предлагаем нашим клиентам значительное расширение ассортимента продукции. С новым зданием в 2008 году мы смогли более чем вдвое увеличить производственные площади и, таким образом, расширить производственные мощности, процессы и структуры до высочайшего технологического уровня.</div>
    </div>

    <div class="col-lg-12 d-flex flex-column align-items-center pb-5">
        <div class="date f-40 font-weight-bold ">19<span class="red">85</span></div>
        <img src="images/history1985.webp" alt="history">
        <div class="description f-32 font-weight-bold text-center">С основанием прецизионного шлифования был взят первый этап сегодняшней группы компаний WOLF. В результате образовавшаяся компания WOLF Werkzeugtechnologie GmbH сегодня предлагает вам полный спектр услуг, ориентированный на клиента, от переточки до нового производства во всех вариантах. С переездом в новое здание в 2008 году технология инструментальной оснастки WOLF была перенесена на современные производственные мощности, предлагающие оптимальные конструкции для условий и процессов, что привело к сокращению сроков поставки для наших клиентов.</div>
    </div>

</div>