<div class="row justify-content-center m-0">
    <h1 class="mb-5"><strong>WOLF Technology</strong><br>- НЕМЕЦКОЕ КАЧЕСТВО ИЗ СИБИРИ</h1>
    <div id="main-slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/drill.jpg" class="d-block w-100" alt="drill">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="f-24">Продукция немецкого качества</h5>
                    <button>Подробнее</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="images/map.jpg" class="d-block w-100" alt="map">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="f-24">Одна большая семья по всему миру</h5>
                    <button>Подробнее</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="images/builds.jpg" class="d-block w-100" alt="builds">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="f-24">Инновации и традиции</h5>
                    <button>Подробнее</button>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#main-slider" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Предыдущий</span>
        </a>
        <a class="carousel-control-next" href="#main-slider" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Следующий</span>
        </a>
    </div>
</div>