<div class="nav">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 navbar-brand m-0 d-flex justify-content-center align-self-center"><img src="images/logo/logo.jpg" alt="logo" width="200" height="50"></div>
            <div class="col-lg-8 offset-lg-1 d-flex justify-content-end navbar">
                <div class="row">
                    <ul class="mb-2">
                        <li class="nav-link"><span><img src="images/icons/gps.svg" alt="gps" class="pb-2"></span><a href="https://yandex.ru/maps/-/CCUq7FDSTD"> г.Новосибирск, ул.Восточная 4/1</a></li>
                        <li class="nav-link"><a href="#tel">89139198434</a></li>
                    </ul>
                </div>
                <div class="row">
                    <ul class="p-0 m-0 mb-1">
                        <li class="nav-link"><a href="#main">Главная</a></li>
                        <li class="nav-link"><a href="#about">О нас</a></li>
                        <li class="nav-link"><a href="#production">Наша продукция</a></li>
                        <li class="nav-link"><a href="/calculator">Калькулятор</a></li>
                        <li class="nav-link"><a href="#history">Наша история</a></li>
                        <li class="nav-link"><a href="#contacts">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>