<div class="nav fixed-top">
    <div class="container">
        <div class="row justify-content-center justify-content-md-start">
            <div class="col-4 offset-4 offset-md-0 col-lg-3 col-md-2 navbar-brand m-0 d-flex justify-content-center align-self-center p-0 pr-lg-3 pl-lg-3 pr-xl-5 pl-xl-5 pt-2 pt-md-0"><img src="images/logo/logo.jpg" alt="logo" class="img-fluid"></div>
            <div class="col-12 col-lg-9 col-md-10 offset-xl-1 col-xl-8 d-flex justify-content-end navbar pb-2">
                <div class="row d-md-flex d-none">
                    <ul class="mb-2">
                        <li class="nav-link"><span><img src="images/icons/gps.svg" alt="gps" class="pb-2"></span><a href="https://yandex.ru/maps/-/CCUq7FDSTD"> г.Новосибирск, ул.Восточная 4/1а</a></li>
                        <li class="nav-link pr-0"><a href="tel:89139198434">89139198434</a></li>
                    </ul>
                </div>
                <div class="row">
                    <ul class="p-0 m-0 mb-1 text-center">
                        <li class="nav-link main-link pl-0"><a href="/#main">Главная</a></li>
                        <li class="nav-link about-link"><a href="/#about">О нас</a></li>
                        <li class="nav-link production-link"><a href="/#production">Наша продукция</a></li>
                        <li class="nav-link history-link"><a href="/#history"><span class="text-nowrap">Наша история</span></a></li>
                        <li class="nav-link contacts-link"><a href="/#contacts">Контакты</a></li>
                        <li class="nav-link pr-0"><a href="/calculator">Калькулятор</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>