<div class="row pt-5">
    <h2 class="f-46 production-title font-weight-bold">НАША ПРОДУКЦИЯ</h2>
    <div class="col-lg-6 d-flex flex-column justify-content-between">
        <div class="row f-32 font-weight-bold red">ВЫСОКОПРОИЗВОДИТЕЛЬНЫЕ СВЕРЛА И КОНЦЕВЫЕ ФРЕЗЫ</div>
        <div class="row f-30 font-weight-bold">ВЫСОКОЭФФЕКТИВНЫЕ ИНСТРУМЕНТЫ - НАШ СТАНДАРТ.</div>
    </div>
    <div class="col-lg-6"><img src="images/prod-drill.png" alt="drill" class="w-100"></div>
    <div class="col-lg-6 d-flex flex-column justify-content-between production-block">
        <div class="row">
            <div class="title f-30 font-weight-bold">Сверление</div>
            <div class="description">
                Стандартная программа сверления WOLF идеально подходит для типичных применений, таких как сверление отверстий под резьбу, сквозные отверстия, обработка деталей с отверстиями и т. д.
            </div>
            <button class="button">Подробнее</button>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="title f-30 font-weight-bold">Фрезерование</div>
            <div class="description">
                Наш каталог инструментов высочайшего стандарта. WOLF предлагает очень широкий выбор высокопроизводительных концевых фрез для всех областей применения. Программа высококачественных высокопроизводительных концевых фрез практически для всех требований.        </div>
            <button class="button">Подробнее</button>
        </div>
    </div>
</div>

<div class="row">
    <h2 class="f-46 production-title font-weight-bold">СВЕРЛЕНИЕ</h2>
    <div class="col-lg-6">
        <div class="subtitle red f-20 font-weight-bold">ПРЕИМУЩЕСТВА ИНСТРУМЕНТА</div>
        <ul class="f-16 font-weight-bold adventages">
            <li>Геометрия с высокими рабочими характеристиками.</li>
            <li>Высокая скорость съема.</li>
            <li>Покрытие TiAlN.</li>
            <li>Высокая точность позиционирования.</li>
            <li>Высокая концентрическая точность.</li>
            <li>Специально подходит для жаропрочных сталей и суперсплавов.</li>
            <li>Универсальное применение для сталей, инструментальных сталей, нержавеющих сталей, чугуна и алюминия.</li>
            <li>Также подходит для титана и титановых сплавов.</li>
            <li>Сверление глухих и сквозных отверстий.</li>
            <li>Переточка в новом качестве инструмента.</li>
        </ul>
    </div>
    <div class="col-lg-6">
        <div class="subtitle red f-20 font-weight-bold">ХАРАКТЕРИСТИКИ ИНСТРУМЕНТА</div>
        <ul class="f-16 font-weight-bold specifications">
            <li>Инструмент в сочетании с специальной геометрией канавок обеспечивает мелкую стружку и идеальный отвод стружки.</li>
            <li>Специальные твердосплавные заготовки обладают достаточной прочностью, чтобы минимизировать повреждения режущих кромок и способна обрабатывать закаленную сталь до 65 HRC.</li>
            <li>Высочайшая производительность благодаря сквозной подаче СОЖ и покрытию TiAlN.</li>
            <li>Покрытие TiAlN сводит к минимуму наросты на кромках и повышает износостойкость.</li>
        </ul>
    </div>
</div>

<div class="row">
    <h2 class="f-46 production-title font-weight-bold">ФРЕЗЕРОВАНИЕ</h2>
    <div class="col-lg-6">
        <div class="subtitle red f-20 font-weight-bold">ПРЕИМУЩЕСТВА ИНСТРУМЕНТА</div>
        <ul class="f-16 font-weight-bold adventages">
            <li>Фрезерование штампов и штамповок.</li>
            <li>Типовое фрезерование стандартных деталей.</li>
            <li>Высокопроизводительные концевые фрезы WOLF позволяют экономично обрабатывать такие материалы, как нержавеющие материалы, титан и современные сплавы.</li>
            <li>Высокопроизводительный фрезерный инструмент для динамического фрезерования с высокой скоростью удаления стружки.</li>
            <li>Стандартный фрезерный инструмент для высокопроизводительного оборудования, выполнение сложных деталей, таких как пресс-формы и т.д.</li>
        </ul>
    </div>
    <div class="col-lg-6">
        <div class="subtitle red f-20 font-weight-bold">ТИП</div>
        <ul class="f-16 font-weight-bold specifications">
            <li>Обнижение (максимальная глубина резания).</li>
            <li>Угловой радиус (защита кромки).</li>
            <li>Резка по центру (сверление на небольшую глубину фрезой).</li>
            <li>Большое пространство для канавок (хороший отвод стружки).</li>
            <li>Особая геометрия (пониженная вибрация и высокая скорость удаления стружки).</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 drills font-weight-bold">
        <img src="images/drill2.jpeg" alt="drill" class="w-100 h-75">
        <div class="description">MU4 20R0.3-42-105 (Cor) Фреза черновая по стали</div>
    </div>
    <div class="col-lg-4 drills font-weight-bold">
        <img src="images/drill3.jpeg" alt="drill" class="w-100 h-75">
        <div class="description">MM3 3-11-50 фреза для чистовой и получистовой обработки по нержавеющему материалу</div>
    </div>
    <div class="col-lg-4 drills font-weight-bold">
        <img src="images/drill4.png" alt="drill" class="w-100 h-75">
        <div class="description">Спец инструмент под заказчика</div>
    </div>
</div>

<div class="row">
    <h2 class="f-46 production-title font-weight-bold mt-5">КАТАЛОГ РЕЖУЩЕГО ИНСТРУМЕНТА</h2>
    <div class="col-lg offset-3 d-flex flex-column align-items-start">
        <img src="images/catalog1.png" alt="catalog">
        <img src="images/catalog2.png" alt="catalog">
        <img src="images/catalog3.png" alt="catalog">
    </div>
</div>

<div class="row">
    <h2 class="f-46 production-title font-weight-bold mt-5">ДЛЯ БОЛЕЕ ПОДРОБНОЙ ИНФОРМАЦИИ СВЯЖИТЕСЬ С НАМИ</h2>
    <div class="col-lg d-flex flex-column align-items-center">
        <button class="button mb-5">Контакты</button>
        <img src="images/blank1.jpg" alt="blank">
        <img src="images/blank2.jpg" alt="blank">
    </div>
</div>