<div class="row">
    <h2 class="f-46 production-title">НАША ПРОДУКЦИЯ</h2>
    <div class="col-lg-6 d-flex flex-column justify-content-between">
        <div class="row f-40 font-weight-bold red">ВЫСОКОПРОИЗВОДИТЕЛЬНЫЕ СВЕРЛА И КОНЦЕВЫЕ ФРЕЗЫ</div>
        <div class="row f-30 font-weight-bold">ВЫСОКОЭФФЕКТИВНЫЕ ИНСТРУМЕНТЫ - НАШ СТАНДАРТ.</div>
    </div>
    <div class="col-lg-6"><img src="images/prod-drill.png" alt="drill" class="w-100"></div>
    <div class="col-lg-6 d-flex flex-column justify-content-between">
        <div class="row d-flex flex-column justify-content-between">
            <div class="title f-30">Сверление</div>
            <div class="description">
                Стандартная программа сверления WOLF идеально подходит для типичных применений, таких как сверление отверстий под резьбу, сквозные отверстия, обработка деталей с отверстиями и т. д.
            </div>
            <button class="button">Подробнее</button>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="title f-30">Фрезерование</div>
            <div class="description">
                Наш каталог инструментов высочайшего стандарта. WOLF предлагает очень широкий выбор высокопроизводительных концевых фрез для всех областей применения. Программа высококачественных высокопроизводительных концевых фрез практически для всех требований.        </div>
            <button class="button">Подробнее</button>
        </div>
    </div>
</div>