<div class="calc">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 pt-5 pb-5"><img src="images/table1.png" alt="table" class="w-100 h-100"></div>
            <div class="col-12"><img src="images/table2.png" alt="table" class="w-100 h-100"></div>
            <h2 class="col-12 pt-5 pb-5">Калькулятор расчета режима резания</h2>
            <div class="col-6">
                <div class="form-group row">
                    <label for="speed">Введите скорость резания (м/мин)</label>
                    <input id="speed" class="form-control" type="number">
                </div>
                <div class="form-group row">
                    <label for="diameter">Введите диаметр (мм)</label>
                    <input id="diameter" class="form-control" type="number">
                </div>
                <div class="form-group row">
                    <label for="tooth">Введите подачу (мм/зуб.)</label>
                    <input id="tooth" class="form-control" type="number">
                </div>
                <div class="form-group row">
                    <label for="numberOfTeeth">Введите количество зубьев</label>
                    <input id="numberOfTeeth" class="form-control" type="number">
                </div>
                <div class="form-group row">
                    <div class="turnover"></div>
                </div>
                <div class="form-group row">
                    <div class="innings"></div>
                </div>
                <div class="form-group row pb-4">
                    <button name="result" class="button btn-result">Рассчитать</button>
                </div>
            </div>
        </div>
    </div>
</div>