<!--Главная-->

<div class="main">
    <div class="container">
        {{>main}}
    </div>
</div>
<div class="about">
    <div class="container">
        {{>about}}
    </div>
</div>
<div class="production">
    <div class="container">
        {{>production}}
    </div>
</div>
<div class="history">
    <div class="container">
        {{>history}}
    </div>
</div>
<div class="contacts">
    <div class="container">
        {{>contacts}}
    </div>
</div>
