<!--Главная-->

<div class="main">
    <div class="container">
        <a href="" class="anchor" id="main"></a>
        {{>main}}
    </div>
</div>
<div class="about">
    <div class="container">
        <a href="" class="anchor" id="about"></a>
        {{>about}}
    </div>
</div>
<div class="production">
    <div class="container">
        <a href="" class="anchor" id="production"></a>
        {{>production}}
    </div>
</div>
<div class="history">
    <div class="container">
        <a href="" class="anchor" id="history"></a>
        {{>history}}
    </div>
</div>
<div class="contacts">
    <div class="container">
        <a href="" class="anchor" id="contacts"></a>
        {{>contacts}}
    </div>
    <div class="divider"></div>
</div>
