<!--Главная-->

<div class="main" id="main">
    <div class="container">
        {{>main}}
    </div>
</div>
<div class="about" id="about">
    <div class="container">
        {{>about}}
    </div>
</div>
<div class="production" id="production">
    <div class="container">
        {{>production}}
    </div>
</div>
<div class="history" id="history">
    <div class="container">
        {{>history}}
    </div>
</div>
<div class="contacts" id="contacts">
    <div class="container">
        {{>contacts}}
    </div>
    <div class="divider"></div>
</div>
