@import url('normalize.css');
@import url('fonts.css');
@import url('styles/font-sizes.css');
@import url('bootstrap/css/bootstrap.min.css');
@import url('styles/navbar.css');
@import url('styles/main.css');
@import url('styles/about.css');
@import url('styles/production.css');
@import url("styles/contacts.css");
@import url("styles/form.css");
@import url('styles/footer.css');
@import url('styles/calc.css');
@import url('styles/media.css');

a, a:hover {
    text-decoration: none;
}

h1, h2{
    width: 100%;
    text-align: center;
}

.red{
    color: #dd0b2f;
}

.button{
    width: 150px;
    height: 40px;
    background-color: #dd0b2f;
    border: none;
    color: #ffffff;
    font-weight: 700;
}