.about{
    background-color: #414141;
    color: #ffffff;
}

.about-block{
    font-weight: 600;
}

.about .divider{
    height: 6px;
    width: 75%;
    background-color: #dd0b2f;
}

.description{
    max-width: 530px;
}