.title{
    margin-top: 40px;
}

.about-block{
    margin-top: 80px;
    font-weight: 600;
}

.divider{
    height: 10px;
    width: 530px;
    background-color: #dd0b2f;
}

.description{
    max-width: 530px;
}