#submittedMessageBox {
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 25%;
    height: 25%;
    overflow: auto;
    margin: auto;
    position: fixed;
    padding: 10px;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 999;
    background-color: #c7c7c7;;
    border: 2px solid green;
    border-radius: 10px;
}

#submittedMessageBox p {
    margin: 0;
}

.form-control {
    border-radius: unset;
}

.form-control:focus {
    border-color: #dd0b2f;
    box-shadow: 0 0 0 .1rem rgba(221, 11, 47,.50);
}

form textarea {
    resize: none;
}