.main {
    padding-top: 79.5px;
}

.main .carousel-caption {
    height: calc(100% - 40px);
    position: absolute;
}

.main .carousel-caption div {
    width: 40%;
}

.main .button {
    align-self: center;
}